{% extends "base.html" %}

{% block app_content %}
<h1>
    <p align="center">
        Raja Charuvil
    </p>
    </h1>
        <hr>
        <p>My name is Raja Asokan Charuvil. This is my personal blog. I am planning to scribble my thoughts, ideas and the stuffs which I learn here in my Blog!<br><br>Past couple of years I have been working as a Data Engineer in Berlin and London. I love reading books, especially about crime fiction and Computer history.<br><br>I created this website out of boredom due to "lockdown" because of Covid-19. I hope everything goes back to normal soon, so that I can be with my collegues to do some kick-ass Data Engineering works :)
        </p>

        <b>SKILLS:</b>
      <ol>
          <li>Data Engineering</li>
          <li>Programming</li>
          <li>Learning</li>
      </ol>  

      <p>
     <b>REACH ME </b>
     <ul>
         <li><a href="https://www.linkedin.com/in/raja-asokan-charuvil-6349a3103/"target="_blank">
             LindedIn
             </a>
         </li>
         <li><a href="https://www.instagram.com/raja.asokan/?hl=en"target="_blank">
             GitHub
             </a>
         </li>
         <li><a href="https://github.com/raja-charuvil"target="_blank">
             Instagram
             </a>
         </li>
         <li>Gmail: raja.asokan@gmail.com</li>
     </ul>
     </p>
{% endblock %}