{% extends "base.html" %}

{% block app_content %}
    <h1 style="text-align:center">Welcome to Raja's blog!</h1>
    {% for blog in blogs %}
       	<h2>{{ blog.title }}</h2>
        <p><b>Created at: </b>{{ blog.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        <p>{{ blog.content | safe}}</p>
        {% if blog.tags %}
        <p><b>Tags: </b>
        	{% for tag in blog.tags %}
        	<i>{{ tag.name }}</i>
        	{% endfor %}
        </p>
        {% endif %}
        <br>
    {% endfor %}

<!--     <table class="table table-hover">
        <td>
            {% for blog in blogs %}
            <tr>
                <h2>{{ blog.title }}</h2>
                <p><b>Created at: {{ blog.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</b</p>
                <p>{{ blog.content | safe}}</p>
                {% if blog.tags %}
                <p><b>Tags: </b>
                    {% for tag in blog.tags %}
                    <i>{{ tag.name }}</i>
                    {% endfor %}
                </p>
                {% endif %}                
            </tr>
            {% endfor %}
        </td>
    </table> -->

   <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer blogs
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older blogs <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
