{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Raja's blog!</h1>
    {% for blog in blogs %}
    <div>
       	<h3>{{ blog.title }}</h3>
        <p>{{ blog.content | safe}}</p>
        {% if blog.tags %}
        <p>
        	{% for tag in blog.tags %}
        	<i>{{ tag.name }}</i>
        	{% endfor %}
        </p>
        {% endif %}
    </div>
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer blogs</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older blogs</a>
    {% endif %}
{% endblock %}
